[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
[user]
	name = pylipp
	email = philipp.metzner@tum.de
[push]
	default = simple
[gui]
	editor = gvim
	historybrowser = gitk
[diff]
	tool = meld
[difftool "meld"]
    cmd = meld \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[cola]
	savewindowsettings = true
	browserdockable = true
[color]
	ui = true
[alias]
    co = checkout
    ci = commit
    st = status 
    br = branch 
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    do = diff --name-status master origin/master
    amend = commit --amend --no-edit
[merge]
	tool = kdiff3
