[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
[user]
[push]
	default = simple
[gui]
	editor = gvim
	historybrowser = gitk
[diff]
	tool = meld
[difftool "meld"]
    cmd = meld \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[cola]
	savewindowsettings = true
	browserdockable = true
	tabwidth = 4
[color]
	ui = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    do = diff --name-status master origin/master
    amend = commit --amend --no-edit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	tool = kdiff3
